body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/* FONT IMPORT */

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: local('Poppins Regular'), url('./../fonts/poppins-v13-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: local('Poppins Bold'), url('./../fonts/poppins-v13-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    src: local('Quicksand Regular'), url('./../fonts/quicksand-v21-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: local('Quicksand Bold'), url('./../fonts/quicksand-v21-latin-700.woff') format('woff');
}


/* Landing Page */

.page {
    width: 100%;
    min-height: 100vh;
}

.navbar {
    padding: 25px 50px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: rgb(16, 82, 158);
    font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(16, 82, 158);
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(16, 82, 158);
}

.page-1 {
    padding-top: 60px;
}

.text-one {
    color: rgb(16, 82, 158);
}

.text-one h2 {
    font-weight: 400;
}

.vector-img {
    left: 50px;
}

.btn-login {
    padding: 8px 40px;
    font-weight: 700;
    border-radius: 35px;
    font-size: 12pt;
    color: #fff;
    background-color: rgb(4, 121, 255);
}

.btn-login:focus,
.btn-login:hover,
.btn-login:active {
    font-weight: 700;
    background-color: rgb(16, 82, 158);
    color: #fff;
    cursor: pointer;
}

.btn-register {
    border: 2px solid rgb(16, 82, 158);
    padding: 8px 30px;
    font-weight: 700;
    border-radius: 35px;
    font-size: 12pt;
    color: rgb(16, 82, 158);
}

.btn-register:focus,
.btn-register:hover,
.btn-register:active {
    border: 2px solid rgb(4, 121, 255);
    font-weight: 700;
    color: rgb(16, 82, 158);
    cursor: pointer;
}

.btn-started {
    padding: 10px 50px;
    font-weight: 700;
    border-radius: 35px;
    font-size: 12pt;
    color: #fff;
    background-color: rgb(4, 121, 255);
}

.btn-started:focus,
.btn-started:hover,
.btn-started:active {
    font-weight: 700;
    background-color: rgb(16, 82, 158);
    color: #fff;
    cursor: pointer;
}


/* Footer */

footer {
    background-color: rgb(4, 121, 255);
    padding: 15px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}


/* Login Page */

.overlay-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eee;
}

.wrapper-form {
    width: 35%;
    height: 350px;
    background-color: #fff;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    position: relative;
}

.form {
    padding: 0px 40px;
}

.input-icon {
    display: flex;
}

.icon {
    padding: 10px;
    background: rgb(4, 121, 255);
    color: white;
    min-width: 50px;
    text-align: center;
}

.circle-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.circle-wrapper .circle-image {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin: auto;
    margin-top: -50px;
    text-align: center;
}